*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #212429; */
}

  
body{
    padding: 20px;
    margin: 0;
}
.container-fluid{
    background-color: #6f2cf5;
    padding: 10px 20px;
    text-align: center;

}

/* #stories{
    margin-top: 20px;
    text-align: center;
} */

.card {
    text-align: center;
    background-color: #212429;
}

@media (max-width: 600px){
    /*Mobile responsive adjusments*/
}

